*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #A8B9B7;
}
article{
    margin: 32px;
    padding: 32px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}
nav{
    background-color: white;
}
.flag{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.flag img{
    height: 50px;
}
.flagText{
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flagBar{
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    top: 0px;
    height: 100%; */
}
.flagBar li {
    padding-left: 12px;
    padding-right: 12px;
    border-right: 2px solid black;
}

.flagBar a:hover{
    color: #F1C40F;
    font-weight: 600;
}

.flagBar a{
    text-decoration: none;
    color: black;
}

.myDataContainer{
    display: flex;
    justify-content: center;
}
.myPhoto img{
    margin: 52px;
    border: 6px solid #A8B9B7;
    border-radius: 50%;
    height: 300px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.myData{
    margin: 52px;
    display: flex;
    align-items: center;
}
.contactIcon{
    display: flex;
}
.contactIcon img{
    margin: 10px;
    height: 50px;
}
.contactIcon img:hover{
    margin: 7px;
    height: 56px;
    transition: 0.1s;
}
.introduce, .hashtag{
    font-size: 18px;
    font-weight: 500;
    line-height: 52px;
}
.hashtag{
    font-weight: 600;   
    color: #5098DB;
}

.top{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    color: white;
    background-color: #F1C40F;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-weight: 600;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.top:hover{
    font-size: 18px;
    width: 56px;
    height: 56px;
    right: 48px;
    bottom: 48px;
}
.top:hover{
    font-size: 18px;
    transition: 0.2s ;
}
footer{
    background-color: #A8B9B7;
    color: white;
}

ol ,ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.timeline{
    /* border-left: 2px solid;
    border-color: #A8B9B7; */
    position: relative;
    flex-grow: 1;
}
.timeitem{
    margin-bottom: 18px ;
    margin-left:24px ;
    transition: all 1s ease;
    width: 510px;
}
.timedot{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #A8B9B7;
    border-radius: 50%;
    left: -0.375rem;
    border: 1px;
    border: #ffffff;
    margin-top: 1.5rem;

}
.circle{
    width: 90px; 
    height: 90px; 
    padding: 10px;
    margin: 48px;
    border-radius: 50%; 
    background-color: #a8B9b7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
}
.circle:hover{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.experience{
    padding: 16px;
    display:flex; 
    align-items: center;
    justify-content: center;
}

section{
    width: 80%;
    margin:auto;
}

.hidden{
    display: none;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    height: 280px;
    position:absolute;
    left: 512px;
    top: 24px;
    transition: all 1s ease;
    border-radius: 10px;
}

.timeitem:hover +.hidden {
    display: block;
    animation: text 1.5s;
}
.hidden:hover {
    display: block;
    animation: text 1.5s;
}
.timeitem:hover h2{
    font-size: 26px;
    margin: 8.8px;
    color: #F1C40F;
}

.experience:hover .circle{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.date{
    color: #8b8b8b;
}

.timeitem h2{
    margin: 10px;
}
.timeContent{
    margin-left: 12px;
    line-height: 24px;
}

.skillContainer{
    display: grid;
    grid-template-rows: repeat(1);
    grid-template-columns:repeat(3,1fr) ;
}
.skillTitle{
    text-align: center;
    color: #fff;
    background-color: #A8B9B7;
    font-weight: 600;
    font-size: 24px;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
    margin: auto;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.skill{
    margin: 24px 24px 0px 24px;
    
}

.skillCol{
    border-right : 2px solid #A8B9B7;
}

.skillContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillText{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #3d3d3d;
}
.progress{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}
progress{
    margin: 12px;
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
}
progress:hover{
    margin: 0px;
    height: 40px;
    border-radius: 30px; 
    transition: 0.5s;
}
::-webkit-progress-inner-element {
    border: 3px solid #A8B9B7;
    border-radius: 15px;
}
progress[value]::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 15px;
}
progress[value]::-webkit-progress-value {
    background-color: #A8B9B7;
    border-radius: 15px; 
}

.precent{
    font-size: 24px;
}
/* .array_item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.degree{
    width: 50%;
    height: 100px;
} */

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-left{
    display: flex;
    justify-content: left;
    align-items: center;
}
.text-xl{
    font-size: 24px;
}

.skill img{
    margin: 0px 8px;
}



.tab_css{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.tab_css input{
    display:none
}
.tab_css label{
    margin: 0 24px 24px 0; 
    padding: 10px 16px; 
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
    font-size: 24px;
    background: #A8B9B7;
    color: #fff; opacity: 0.5;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}
.tab_content{
    order:1;
    display: none; 
    width:100%;  
    line-height: 1.6; 
    font-size: .9em; 
    padding: 15px; 
    border-radius: 5px;
}
.tab_css input:checked + label, .tab_css label:hover{
    opacity: 1; 
    font-weight:bold;
}
.tab_css input:checked + label + .tab_content{
   display: initial;
   animation: text 1.5s;
}

.card{
    margin-bottom:24px;
    background-color: #c6dcda;
    color: rgb(63, 63, 63);
    border-radius: 15px;
    padding: 24px;
}

.imgContainer{
    width: 50%;
    text-align: center;
}
.contentContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    border-radius: 15px;
    max-width:90%;
}

.cardTitle{
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    line-height: 48px;
}
.borderOutside{
    background-color: white;
    border-radius: 15px;
    box-sizing: content-box;
    padding: 8px 8px;
    margin: 12px;
}
.titleBorder{
    
    border-radius: 15px;
    border: 3px dashed #A8B9B7; 
    padding: 5px 8px;
}

.cardContent{
    font-size: 18px;
    line-height: 36px;
    text-indent: 2em;
}

.card a{
    text-decoration: none;
    color: #3d3d3d;
}
.link img{
    height: 28px;
    border-radius: 0px;
}

.link{
    width: fit-content;
    margin: 16px 16px 16px auto ;
    font-size: 18px;
    font-weight: 600;
}

@keyframes text {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

@media screen and (max-width: 800px){
    .myDataContainer{
        display: block;
        text-align: center;
    }
    .myPhoto{
        text-align: center;
    }
    .myPhoto img{
        margin: 0px;
        width: 100%;
        height: auto;
        max-width: 300px;
    }
    .myData{
        margin: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .introduce, .hashtag{
        margin: 0px;
    }
}